h1 {color: red;}
h2 {color: aqua;}
h3 {color:chartreuse;}
h1 {font-size: 500;}
h2 {font-size: 500;}
h3 {font-size: 495;}
h1 {text-align: center;}
h2 {text-align: center;}
h2 {text-align: center;}
 #imag1 {margin-left: 35;}
 #ima2 {margin-left: 40;}
 #ima3 {margin-left: 35;}
 